*{
    font-style: none;
}
.card{
    border: none;
}
.card-footer{
    padding: none;
    background-color: white;
    border-top: none;
    font-size: 40px;
}
.footer-icon{
    padding-right: 10px;
    color: black;
}
.footer-icon:hover{
    color: rgb(53, 202, 78);
}
.font-style{
    text-decoration: none;
    color: black;
}
.font-style:hover{
    color: rgb(53, 202, 78);
}
